html {
    touch-action: manipulation;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
    background-color: #f5f5f5;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/* Überschriften */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

/* große Touch Buttons */
button {
    font-size: 28px;
    padding: 18px 28px;
    margin: 8px;
    border-radius: 12px;
    border: none;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
}

/* +/- Buttons extra groß */
button[onclick*="plus"],
button[onclick*="minus"]{
    font-size: 32px;
    padding: 20px 35px;
}

/* Timer Anzeige */
#zeit {
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0;
}